* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(206, 234, 236);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

p {
    font-size: 1.3rem;
    font-weight: 700;
}

.container {
    background-color: white;
    width: 70%;
    height: auto;
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 180px 330px;
    gap: 10px;
    justify-items: center;
    justify-content: space-evenly;
}

.frame {
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    background-image: url(image.jpg);
    /*The default mode is to repeat the image*/
    background-repeat: no-repeat;
}

/* The  hover thing is not polished: it does transition in 0.5s, but when the cursor is not hovering it fades instantly. Why?
.frame:hover {
    opacity: 0.7;
    transition: opacity  0.5s;
}
*/

/*
.A {
    -------No formatting-------
}
*/

.B {
    background-size: cover;
}

.C {
    background-size: 300px 100px;
}

.D {
    background-position: center;
}

.E {
    /*Mantains the proportion*/
    background-size: contain;
}

.F {
    background-position: center;
    background-size: cover;
}