*{
    margin: 0px;
    padding: 0px;
}

div {
    margin: 1rem auto;
    width: 500px;
    height: 500px;
    border: 0.8rem solid black;
    border-style: double;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 8rem;
}