* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:thistle;
}

h1 {
    text-align: center;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 30%;
    margin: 1rem auto 0px;
    border-bottom: 2px solid black;
}

.container {
    background-color: lightslategray;
    box-shadow: 0 0 15px 10px rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    width: 30rem;
    height: 35rem;
    margin: 2rem auto;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    gap: 3px;
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

.container > * {
    border: 3px solid black;
    border-radius: 7px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: background-color 150ms;
}

.container > *:hover:not(.screen) {
    cursor: pointer;
    background-color: rgb(214, 214, 214);
    /* This is to not letting the user select text/numbers */
    user-select: none;
}

.screen {
    /*STILL NEEDS TO BE FORMATED TO FIX THE OVERFLOW*/
    background-color: rgb(65, 72, 78);
    color: white;
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    padding: 1rem;
    overflow-y: auto; 
    display: inline-block;

}

.screen p {
    /*STILL NEEDS TO BE FORMATED TO FIX THE OVERFLOW*/
    /* border: 2px solid rgb(172, 172, 172); */
    margin-top: 2.3rem;
    margin-left: auto;
    text-align: end;
    width: max-content;
}

.plus img{
    width: 2.6rem;
}

.equal {
    grid-area: 6 / 4 / span 2 / 4;
}

.delete img{
    width: 2.2rem;
}

.zero {
    grid-column: 1 / span 2;
}