* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background-color: white;
}

body {
    height: 100%;
    width: 40%;
    height: auto;
    text-align: justify;
    margin: auto;
    padding: 25px;
    background-color: darkseagreen;
}

p {
    margin-top: 10px;
}

#firstParagraph {
    margin: 0;
    /* This will prevail over the <p> margin-top because it is more specific*/
}

/* IMAGES */
#bread {
    height: 300px;
    width: auto;
    float: right;
    margin-left: 15px;
    /*¡¡¡ margins of floating and absolutely positioned elements never collapse !!!*/
    margin-top: 15px;
    margin-bottom: 15px;
}

#street {
    height: 190px;
    width: auto;
    float: left;
    margin-right: 15px;
}

#houses {
    width: 200px;
    height: auto;
    display: inline;
}

.clear {
    clear: both;
}