* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

p {
    font-size: 40px;
}

/*FORMATTING CONTINER AND BOXES*/

.container {
    box-sizing: border-box;
    width: 80%;
    background-color: rgb(128, 30, 30);
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}

.box {
    flex-basis: 200px;
    height: 160px;
    background-color: #1e8080;
    border: 3px solid white;
    border-radius: 3px;
}

/*Now, just experiment with the Flex Model*/

.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /*Only works if there is no specific height set. Elements with a minimum height or no height set will stretch*/
    flex-wrap: wrap;
    gap: 1rem;
}

.box {
    /*This is to center the letter*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*----------------------------*/
}

/*SECOND PART SET UP*/

.container-two h4 {
    font-size: 2rem;
}

.container-two p {
    font-size: 1.5rem;
}

.container-two {
    border: 5px solid black;    
    width: 85%;
    margin: auto;
    margin-top: 3rem;
    gap: 5px;
    border-radius: 5px;
}

.box-1,
.box-2,
.box-3 {
    border: 2px solid white;
    background-color: #1E8080;
    padding: 1rem;
    border-radius: 5px;
}

/*SECOND PART: EXPERIMENTING WITH FLEX*/

.container-two {
    display: flex;
}

.box-1 {
    flex-basis: 15rem;
}

.box-2 {
    flex: 1;
}

.box-3 {
    flex: 1;
}

/*FOOTER*/
footer {
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    background-color: lightslategrey;
    border: 1px solid black;
    margin-top: 3rem;
}