* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#a8eb12;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
}


/*
body:hover {
    background-image: radial-gradient(circle, #a8eb12, #00bf72, #008793, #004d7a, #051937);
    color: #051937;
}
*/

.message {
    width: 20rem;
    border: 3px solid white;
    padding: 5rem;
    border-radius: 2rem;
}

/*I SHOUL DO SOMETHING COOL WITH THIS. SOME ANIMATION SHIT
.message:hover {
    
}*/
