*{
    padding: 0;
    margin: 0;
}

body {
    border-left: 15px solid black;
    border-right: 15px solid black;
    border-bottom: 15px solid black;
}

h1 {
    font-size: 4rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
}

ul {
    font-size: 3rem;
    padding-left: 3%;
}

ul li {
    height: 6rem;
    display: flex;
    align-items: center;
}

li:nth-of-type(1) {
    font-family: 'Bungee Shade', cursive;
}

li:nth-of-type(2) {
    font-family: 'Faster One',
cursive;
}

li:nth-of-type(3) {
    font-family: 'Kumar One Outline',
cursive;
}

li:nth-of-type(4) {
    font-family: 'Londrina Shadow',
cursive;
}

li:nth-of-type(5) {
    font-family: 'Playfair Display',
serif;
}

li:nth-of-type(6) {
    font-family: 'Thasadith',
sans-serif;
}



