* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    width: 60%;
    min-height: 10rem;
    border: 3px solid green;
    margin: 1rem auto;
    border-radius: 10px;
}
